# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a5a7081a72924f65bd4293ea52bf2b78
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

CLIENT_ID=x
CLIENT_SECRET=x
CLIENT_USERNAME=x
CLIENT_PASSWORD=x

HUMANITY_API_URL=https://www.humanity.com/api/v2